* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #1e1e1e;
}

header {
  text-align: center;
  color: white;
  border: 1px solid white;
}

main {
  width: 100%;
  height: 100%;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.heroSection {
  width: 100%;
  height: 500px;
  padding: 20px;
  background-color: #1e1e1e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headlineSection {
  width: 100%;
  height: 100%;
  background-color: black;
  font-family: "Times New Roman", Times, serif;
  font-weight: 900;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headline {
  font-size: 70px;
  color: #ff5555;
}

.textline {
  width: 80%;
  font-size: 30px;
  color: gray;
  text-align: center;
}

.buttons {
  width: 80%;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.buttons button {
  width: 10vw;
  height: 5vh;
  font-size: 1.5vw;
  background-color: rgb(255, 255, 255);
  color: #ff5555;
  border-radius: 15px;
  transition: all 0.2s ease;
  transform-origin: center center;
  border: none;
}

.buttons button:hover {
  transform: scale(1.1);
  background-color: black;
  color: #ff5555;
  border: 2px solid #ff5555;
  cursor: pointer;
}

.buttons button:nth-child(2) {
  background-color: #ff5555;
  color: rgb(220, 220, 220);
}

.buttons button:nth-child(2):hover {
  background-color: black;
  color: #ff5555;
}

.imageSection {
  width: 100%;
  height: 100%;
  background-color: black;
}

.imageSection img {
  width: 100%;
  height: 100%;
}

.features {
  width: 100%;
  height: max-content;
  background-color: #111;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
  padding: 20px;
}

.cards {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #1e1e1e;
  color: white;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0 0 5px rgba(255, 71, 71, 0.2);

  position: relative;
  transition: all 0.1s ease;
}

.cards:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px #ff4747;
}

.cards img {
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.cards h1 {
  margin-top: 10px;
}

.cards p {
  margin-top: 10px;
}

.cards h1,
.cards p {
  width: 100%;
  /* background-color: red; */
  text-align: center;
  padding: 0 15px;
}

.cards button {
  width: 50%;
  height: 50px;
  background-color: #ff4747;
  color: white;
  margin: 20px 0px;
  font-size: 24px;
  border-radius: 15px;
  transition: all 0.2s ease;
  border: none;
}

.cards button:hover {
  background-color: #fff;
  color: #111;
}

@media only screen and (min-width: 0px) and (max-width: 850px) {
  .heroSection {
    height: max-content;
    flex-direction: column;
    padding: 0;
    margin-top: 50px;
  }

  .headline {
    font-size: 10vw;
    color: #ff5555;
  }

  .textline {
    font-size: 5vw;
  }

  .buttons {
    margin: 30px 0;
  }

  .buttons button {
    width: 30vw;
    height: 5vh;
    font-size: 5vw;
    background-color: rgb(255, 255, 255);
    color: #ff5555;
    border-radius: 15px;
    transition: all 0.2s ease;
    transform-origin: center center;
    border: none;
  }

  .imageSection {
    width: 100%;
    height: 100%;
    background-color: black;
    margin-top: 20px;
  }
}
